extends layout

block content
 h1.title Commercial
 ul.list-inline.list-unstyled.text-center
  li.col-sm-6.col-md-4
   div.img-lighbox
    <a href="../../img/c/quest-apps1.jpg" data-lightbox="lightbox"><img src="../../img/c/t/quest-apps1.jpg"></a>
  li.col-sm-6.col-md-4
   div.img-lighbox
    <a href="../../img/c/Rouko-Ebony-and-Ivory-Pool-Constructed-by-Hutchinson-Builders-(2).jpg" data-lightbox="lightbox"><img src="../../img/c/t/Rouko-Ebony-and-Ivory-Pool-Constructed-by-Hutchinson-Builders-(2).jpg"></a>
  li.col-sm-6.col-md-4
   div.img-lighbox
    <a href="../../img/c/Rouko-Ebony-and-Ivory-Pool-Constructed-by-Hutchinson-Builders-(3).jpg" data-lightbox="lightbox"><img src="../../img/c/t/Rouko-Ebony-and-Ivory-Pool-Constructed-by-Hutchinson-Builders-(3).jpg"></a>
  li.col-sm-6.col-md-4
   div.img-lighbox
    <a href="../../img/c/Rouko-Ebony-and-Ivory-Pool-Constructed-by-Hutchinson-Builders-(4).jpg" data-lightbox="lightbox"><img src="../../img/c/t/Rouko-Ebony-and-Ivory-Pool-Constructed-by-Hutchinson-Builders-(4).jpg"></a>
  li.col-sm-6.col-md-4
   div.img-lighbox
    <a href="../../img/c/Rouko-Ebony-and-Ivory-Pool-Constructed-by-Hutchinson-Builders-(5).jpg" data-lightbox="lightbox"><img src="../../img/c/t/Rouko-Ebony-and-Ivory-Pool-Constructed-by-Hutchinson-Builders-(5).jpg"></a>
  li.col-sm-6.col-md-4
   div.img-lighbox
    <a href="../../img/c/Rouko-Ebony-and-Ivory-Pool-Constructed-by-Hutchinson-Builders.jpg" data-lightbox="lightbox"><img src="../../img/c/t/Rouko-Ebony-and-Ivory-Pool-Constructed-by-Hutchinson-Builders.jpg"></a>
  li.col-sm-6.col-md-4
   div.img-lighbox
    <a href="../../img/c/Rouko-Ebony-and-Ivory-Pool-Constructed-by-Hutchinson-Buliders.jpg" data-lightbox="lightbox"><img src="../../img/c/t/Rouko-Ebony-and-Ivory-Pool-Constructed-by-Hutchinson-Buliders.jpg"></a>
  li.col-sm-6.col-md-4
   div.img-lighbox
    <a href="../../img/c/special-school1.jpg" data-lightbox="lightbox"><img src="../../img/c/t/special-school1.jpg"></a>
  li.col-sm-6.col-md-4
   div.img-lighbox
    <a href="../../img/c/special-school4.jpg" data-lightbox="lightbox"><img src="../../img/c/t/special-school4.jpg"></a>