extends layout

block content
  for page in contentful.page
   h3.title= page.title
   div.col-md-5.pl-15
    img(src= "../img/bridgeman_downs_20_aqua80_clear.jpg").img-responsive
   div.col-md-7.pr_15
    != marked(page.description)
