extends layout

block content
   h3.title Home
   div.col-sm-5.col-md-5.pl-15
    img(src= "../img/bridgeman_downs_20_aqua80_clear.jpg").img-responsive
   div.col-md-7.pr_15
    p Rouko Swimming Pool Interiors have been operating for over 35 years. We are based in south Brisbane and specialise in the application of Pebblecrete, Quartzon, Jewelcrete and complete renovations. Rouko uses only the highest quality materials available and has access to some unique pool finishes and beautiful colour selections. All of Rouko's work comes with a two year workmanship guarantee, including renovations. We specialise in pool restorations, spas and water features.
    p Rouko is a professional pool finishing company and with our highly skilled and professionally trained team, Rouko prides itself on setting and maintaining a high standard of workmanship and site ethics to achieve a finish of the highest quality. Rouko Swimming Pool Interiors have the facilities to provide services for commercial pools anywhere in Queensland and is able to liaise with specialist and major pool builders in other states.

    p <strong>RESIDENTIAL</strong> - Brisbane, Sunshine Coast, Gold Coast to the Toowoomba region
    p <strong>COMMERCIAL </strong> - For interstate pools please contact Rouko to arrange a quote

