doctype html
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Swimming pool interior and renovation specialists. Rouko Swimming Pool Interiors specialise in custom designs for swimming pools and spa interiors')
    meta(name='keywords' content='pools, swimming pool, pool maintenance, swimming pool designs, pool renovations, pool care')
    meta(property="og:url" content="http://www.roukopoolinteriors.com.au/home")
    meta(property='og:title' content='Pool Renovations, Swimming Pool Designs, Pool Maintenance')
    meta(property="og:site_name" content="Rouko Swimming Pool Interiors")
    meta(property="og:description" content="Swimming pool interior and renovation specialists. Rouko Swimming Pool Interiors specialise in custom designs for swimming pools and spa interiors")
    meta(name="google-site-verification" content="wPu3A-9Y_z54NIvH122s1nqn_9D69sN1az5BZiIT03Q")
    title= path
    <!-- Latest compiled and minified CSS -->
    link(rel="shortcut icon" type="image/jpeg" href="../img/favicon.jpg")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css",integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
    link(rel='stylesheet', href='../css/master.css')
    link(rel='stylesheet', href='../css/lightbox.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")

  body
    div.container#main-wrapper

      section.container.header
        include layout/header

      section.container.featured
        include layout/featured

      section.container.content
        block content

      section.container.footer
        include layout/footer

      section.container.credits
        include layout/credit


  <!-- Latest compiled and minified Jquery API -->
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")

  <!-- Latest compiled and minified JavaScript -->
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")

  <!-- Include Lightbox2 -->
  script(src="../js/lightbox.js")
  script(src="../js/custom.js")

  script(data-main="js/main", src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.9/require.min.js")
