extend layout

block content

	h3 Maintenance Tips

	div.row
		div.col-md-7
			p <strong>We have set down the following guidelines for proper care of Pebble and Marble Pool Interiors:</strong>
			p Do not stop the water until the pool is completely full. If the water is stopped before the pool is full, it is likely there will be a ring at the waterline which will be difficult if not impossible to remove.
		div.col-md-5
			img(src="../../img/buderim 100_clear 292.jpg" class="pull-right")

	h3 Maintenance

	p After the filter has been started, the pool should be brushed twice daily for the first week and once daily for the next four weeks. Plaster residue accumulates in all newly pebbled pools and produces a cloudy appearance until cleared by the pool filter system. This is normal but, if not removed, the residue will harden and discolour the surface.

	p Filter pads should be removed and cleaned regularly during this period.

	p Keep the chemical balance of the pool water at proper levels at all times. Check after a storm for deposited dirt. Failure to keep correct chemical balance will result in a scale build up and discolouration of the pool surface. Stains and calcium deposits that do develop on the pool surfaces are usually removed professionally, either underwater or by draining the pool and applying a light acid wash.

	p Do not drain the pool without consulting Rouko Swimming Pool Interiors. Pool plaster could be severely damaged if permitted to dry out. Draining is not recommended for at least 1½ years, except for major repair and then only under professional supervision.

	p Pebble is the best material to use on pool surfaces to ensure a long life expectancy.