extend layout

block content

	h1.title Privacy Policy

	h4 We take your right to privacy seriously and want you to feel comfortable using our web site.
	p This Privacy Policy deals with personally identifiable information that may be collected by us on our site. Private information will here forth be referred to as ‘Data’. Please take time to read our Terms of Use.

	ol
		li
			h4 Collection of Data
			p All of our registration, signup and contact processes require valid contact details including contact name and email address. Please take note that your details or other submissions on this site may contain other personally identifiable information and, as a result, may appear on this site. Like many web sites, we may also automatically receive general information that is contained in our server log files such as your IP address and cookie information.
		li
			h4 Use of Data
			p We may use Data to customise and improve your user experience on this site.
			p Names, telephone numbers or email addresses supplied to us via this website will only be used for communication purposes with the subscriber. We will not share, trade or transfer your personal details or information with any other parties. You can opt out and choose not to receive communication or information from us at any time.
		li
			h4 Cookies
			p Like many web sites, we set and use cookies to enhance your user experience, such as retaining your personal settings. Advertisements may appear on our web site and, if so, may set and access cookies on your computer and is subject to the privacy policy of those parties providing the advertisement. However, the companies serving the advertising do not have access to our cookies. These companies usually use non-personally identifiable or anonymous codes to obtain information about your visits to our site.
		li
			h4 Changes to this Privacy Policy
			p We have the right to change our Privacy Policy. You will be notified of any substantial changes via email.
		li
			h4 NO GUARANTEES
			p While this Privacy Policy states our standards for maintenance of Data and we will make efforts to meet them, we are not in a position to guarantee these standards. There may be factors beyond our control that may result in disclosure of data. As a consequence, we disclaim any warranties or representations relating to maintenance or nondisclosure of Data.
			p We accept no liability for any loss or damage a person suffers because that person has directly or indirectly relied on any information stored on this server.
		li
			h4 Contact Information
			p If you have any questions about this Policy or our web site, please feel free to contact our webmaster from the contact details on the website.