extends layout

block content
	h3 The Procedure
	p <strong>These are the steps involved in resurfacing your pool.</strong>

	div.media
		div.media-left
			img(src="../../img/p/45.jpg" class="media-object")
		div.media-body
			ol
				li <span class="counter">1</span>The pool surface is repaired ready for the pebble finish.
				li <span class="counter">2</span>The pebble mix is prepared on the truck.
				li <span class="counter">3</span>The pebble is pumped into the pool and sprayed on the walls.

	div.media
		div.media-left
			img(src="../../img/p/38.jpg" class="media-object")
		div.media-body
			ol(start=4)
				li <span class="counter">4</span>The walls are hand finished to smooth and even out the consistency before the exposed.
				li <span class="counter">5</span>A high pressure water gerni is used to expose the pebble.
				li <span class="counter">6</span>We clean up the residue and give the pool an acid wash.
				li <span class="counter">7</span>The pool is filled.

	div.media
		div.media-left
			img(src="../../img/p/19_1.jpg" class="media-object")
		div.media-body
			ol
				li There is a 5 years warranty on workmanship and materials.