extend layout

block content
	h1.title Rouko Glass Bead Finishes
	ul.list-inline.list-unstyled.text-center
		li.col-sm-6.col-md-4
			div.img-lighbox
				<a href="../../img/rgbf/aquadream (1).jpg" data-lightbox="lightbox"><img src="../../../img/rgbf/t/aquadream.jpg"></a>
		li.col-sm-6.col-md-4
			div.img-lighbox
				<a href="../../img/rgbf/aquamist.jpg" data-lightbox="lightbox"><img src="../../../img/rgbf/t/aquamist.jpg"></a>
		li.col-sm-6.col-md-4
			div.img-lighbox
				<a href="../../img/rgbf/azureblue.jpg" data-lightbox="lightbox"><img src="../../../img/rgbf/t/azureblue.jpg"></a>
		li.col-sm-6.col-md-4
			div.img-lighbox
				<a href="../../img/rgbf/blackpearl.jpg" data-lightbox="lightbox"><img src="../../../img/rgbf/t/blackpearl.jpg"></a>
		li.col-sm-6.col-md-4
			div.img-lighbox
				<a href="../../img/rgbf/deepskyblue.jpg" data-lightbox="lightbox"><img src="../../../img/rgbf/t/deepskyblue.jpg"></a>
		li.col-sm-6.col-md-4
			div.img-lighbox
				<a href="../../img/rgbf/diamond.jpg" data-lightbox="lightbox"><img src="../../../img/rgbf/t/diamond.jpg"></a>
		li.col-sm-6.col-md-4
			div.img-lighbox
				<a href="../../img/rgbf/jade.jpg" data-lightbox="lightbox"><img src="../../../img/rgbf/t/jade.jpg"></a>
		li.col-sm-6.col-md-4
			div.img-lighbox
				<a href="../../img/rgbf/onyx.jpg" data-lightbox="lightbox"><img src="../../../img/rgbf/t/onyx	.jpg"></a>