@import '_settings'

normalize-css()
base()

body
  font-family: open-sans
  background: #0590cb url(../img/body-pattern.jpg) top center no-repeat
  color: font-color !important
  font-size: font-size !important

h1,h4
  font-weight: 700
img
 width: 100%

img.media-object
  min-width: 150px


.white
 color: white

#main-wrapper.container
  width:100%;

.container
  max-width: 940px;

#main-wrapper section
  width:100%;

.title
 color: navy !important

.header
  margin-top: 20px

.content .title
  margin-top: 0px

.featured, .content, .footer
  background: white
  padding: 25px
  margin-bottom: 20px
  border-radius: radius
  box-shadow(box_shadow)

.content
  border-radius: content-radius

.featured
 padding: 8px

.featured > div
 padding: 15px

.footer .col-md-4
 padding: 8px

.footer .panel-body
 background-color: #f6f6f6
 min-height: 205px
 padding-top: 5px

 @media screen and (max-width: 640px)
  min-height: 100px !important

@media screen and (max-width: 800px)
  
  .navbar li a
   padding:15px 10px;

  #main-wrapper > section
   width: 100%
  
@media screen and (max-width: 767px) 
  
  .navbar-nav
    margin: 0px

  .navbar-collapse.collapse
    padding-right: 0px

  .navbar-collapse.collapse ul > li > a 
   padding: 15px 10px;
  
  .navbar-nav .open .dropdown-menu>li>a
   padding: 15px 20px;

  .pl-15
    padding-bottom:10px;
  

.credits
 color: white
 margin-top: 50px
 margin-bottom: 50px
 font-size: 12px
 line-height: 16px

.btn
 background-color: navy-btn
 border: navy-btn
 border-radius: radius

.btn-primary:hover {
  color: #fff
  background-color: black
  border-color: black
}
.pl-15
 padding-left: pl_15 !important

 @media screen and (max-width: 640px)
  padding-left: 8px !important

.pr_15
 padding-right: pr_15 !important
 padding-left: 0 !important;

 @media screen and (max-width: 640px)
  padding-right: 8px !important

// Navigation

.navbar
 border-radius: radius
 border: none

.navbar #menu
 padding-left: 0px
 box-shadow(box_shadow)

.navbar li a
 font-size: 15px
 color: font-color !important
 text-transform: uppercase
 padding-right: 5px

 @media screen and (max-width: 640px)
  padding-left: 25px !important

.navbar li ul a.dropdown-toggle
  border: 1px solid red
  display: none

.navbar li ul.dropdown-menu
  padding:0px;

.navbar li ul.dropdown-menu li a
  padding:10px;



.navbar li ul a
  padding-left: 15px
  @media screen and (max-width: 640px)
    padding-left: 35px !important

.navbar li.active a
 background-color: navy-btn !important
 color: white !important

body .caret
  margin-top: 9px !important
  margin-left: 10px !important
  float: right !important

// Header

.logo
 max-width: 240px
 margin-left: auto
 margin-right: auto
 padding-left: 0px !important

 @media screen and (max-width: 480px)
    margin-bottom: 25px

.contact
 padding-right: 0px !important

.col-md-9 h3
 margin-top: 5px

.social li
 padding: 0
 margin: 0 5px

.social li a
 background: white
 padding: 0
 line-height: 44px

.social .fa
 color: white
 display: inline-block
 width: 40px
 height: 40px
 line-height: 40px
 text-align: center

.social .facebook .fa
 background-color: #325c94

.social .twitter .fa
 background-color: #00abdc

.img-lighbox img
  max-width: 80%
  margin-left: auto
  margin-right: auto


.media-body li {
  list-style: none
  padding: 0
  margin: 0 0 15px 0
}

.counter {
  font-size: 18px
  margin-right: 15px
  border: 1px solid #333
  border-radius: 100%
  display: inline-block
  width: 28px
  height: 28px
  text-align: center
}
/* featured */

.com
  background: url('../../img/header-bottom-links-01.png') center right no-repeat

  @media screen and (max-width: 380px)
    background-position: 100px center !important

.res
  background: url('../../img/header-bottom-links-02.png') center right no-repeat

.res a
  @media screen and (max-width: 380px)
    padding-right: 35px

.featured > div.com
  @media screen and (max-width: 360px)
    
    clear:both
    background-position: 11em center

.featured a
  color: black
.featured a:hover
  color: navy-btn

/* Forms */

.checkboxes label:first-child
  display: block

.checkboxes label

  display: inline-block
  padding-right: 25px

.checkboxes label input
  float: left
  margin-right: 5px

.footer p.call
  font-size: 22px
  font-weight: 700
  marging: 5px 0 !important


@media screen and (max-width: 480px)
  .media > div
    min-width: 100%
    display: block
    margin-bottom: 25px

  .media-body
   width: 100%

  .media-body ol
    padding-left: 0 !important

   .media-body li
    margin-bottom: 25px
    padding-top: 5px

  .media-body span
    margin-bottom: 0px
    float: left
    margin-top: -5px


