extends ../layout

block content
 h1.title Company Profile
 h4 Rouko Swimming Pool Interiors has been in business for over 35 years.
 p Our team of tradesmen are highly experienced and fully trained.

 p All work comes with a two year guarantee.

 p We will come to you to discuss the type of pebble to suit you, as well as providing a free quote. We require only 5 - 6 days turnaround until your pool can be used again. So you can have your new look pool in a week!
