extend ../layout

block content

	h1.title Freshen Up Your Pool
	p Older pools that have provided entertainment for the family for years will benefit from a face-lift. We give owners a selection of Pebble, Quartzon and Jewel finishes in a range of attractive colours and styles. The pool interiors are modern, look great, easy to care for, and last for years. The application of a new interior will give your pool a fresh appearance. A pool interior renovation is a cost-effective project, with winter being the ideal time to have it done.
	hr
	ul.list-inline.list-unstyled.text-center
		li.col-sm-6.col-md-3
			div.img-lighbox.styled
				<a href="../../img/fp/casaurina3.jpg" data-lightbox="lightbox"><img src="../../../img/fp/t/casaurina3.jpg">
				p modern
		li.col-sm-6.col-md-3
			div.img-lighbox.styled
				<a href="../../img/fp/gumdale2.jpg" data-lightbox="lightbox"><img src="../../../img/fp/t/gumdale2.jpg">
				p Look Great
		li.col-sm-6.col-md-3
			div.img-lighbox.styled
				<a href="../../img/fp/swimmng pool and pebble samples 235.jpg" data-lightbox="lightbox"><img src="../../../img/fp/t/swimmng pool and pebble samples 235.jpg">
				p Easy to Care
		li.col-sm-6.col-md-3
			div.img-lighbox.styled
				<a href="../../img/fp/white haven (1).jpg" data-lightbox="lightbox"><img src="../../../img/fp/t/white haven.jpg">
				p Last for Years