extends ../layout

block content
	h1.title Pebble Finishes
	ul.list-inline.list-unstyled.text-center
		li.col-sm-6.col-md-4
			div.img-lighbox
				<a href="../../img/pf/aquapearl.jpg" data-lightbox="lightbox"><img src="../../../img/pf/t/aquapearl (1).jpg">
		li.col-sm-6.col-md-4
			div.img-lighbox
				<a href="../../img/pf/goldenbeach (1).jpg" data-lightbox="lightbox"><img src="../../../img/pf/t/goldenbeach.jpg">
		li.col-sm-6.col-md-4
			div.img-lighbox
				<a href="../../img/pf/haymansands.jpg" data-lightbox="lightbox"><img src="../../../img/pf/t/haymansands.jpg">
		li.col-sm-6.col-md-4
			div.img-lighbox
				<a href="../../img/pf/marineblue.jpg" data-lightbox="lightbox"><img src="../../../img/pf/t/marineblue.jpg">
		li.col-sm-6.col-md-4
			div.img-lighbox
				<a href="../../img/pf/onyxblue.jpg" data-lightbox="lightbox"><img src="../../../img/pf/t/onyxblue.jpg">
		li.col-sm-6.col-md-4
			div.img-lighbox
				<a href="../../img/pf/pearlbeach.jpg" data-lightbox="lightbox"><img src="../../../img/pf/t/pearlbeach.jpg">
		li.col-sm-6.col-md-4
			div.img-lighbox
				<a href="../../img/pf/roukobeach.jpg" data-lightbox="lightbox"><img src="../../../img/pf/t/roukobeach.jpg">
		li.col-sm-6.col-md-4
			div.img-lighbox
				<a href="../../img/pf/roukoblue.jpg" data-lightbox="lightbox"><img src="../../../img/pf/t/roukoblue.jpg">