extend ../layout

block content
	h1.title Quartzon Finishes
	ul.list-inline.list-unstyled.text-center
		li.col-sm-6.col-md-4
			div.img-lighbox
				<a href="../../img/qf/Quartzon-Calypso (1).jpg" data-lightbox="lightbox"><img src="../../../img/qf/t/Quartzon-Calypso.jpg"></a>
		li.col-sm-6.col-md-4
			div.img-lighbox
				<a href="../../img/qf/Quartzon-Golden-Star.jpg" data-lightbox="lightbox"><img src="../../../img/qf/t/Quartzon-Golden-Star.jpg"></a>
		li.col-sm-6.col-md-4
			div.img-lighbox
				<a href="../../img/qf/Quartzon-Graphite.jpg" data-lightbox="lightbox"><img src="../../../img/qf/t/Quartzon-Graphite.jpg"></a>
		li.col-sm-6.col-md-4
			div.img-lighbox
				<a href="../../img/qf/Quartzon-Ice-Blue.jpg" data-lightbox="lightbox"><img src="../../../img/qf/t/Quartzon-Ice-Blue.jpg"></a>
		li.col-sm-6.col-md-4
			div.img-lighbox
				<a href="../../img/qf/Quartzon-Pacific-Star.jpg" data-lightbox="lightbox"><img src="../../../img/qf/t/Quartzon-Pacific-Star.jpg"></a>
		li.col-sm-6.col-md-4
			div.img-lighbox
				<a href="../../img/qf/Quartzon-Royal-Blue.jpg" data-lightbox="lightbox"><img src="../../../img/qf/t/Quartzon-Royal-Blue.jpg"></a>
		li.col-sm-6.col-md-4
			div.img-lighbox
				<a href="../../img/qf/Quartzon-Santorini.jpg" data-lightbox="lightbox"><img src="../../../img/qf/t/Quartzon-Santorini.jpg"></a>
		li.col-sm-6.col-md-4
			div.img-lighbox
				<a href="../../img/qf/Quartzon-Sky-Bay.jpg" data-lightbox="lightbox"><img src="../../../img/qf/t/Quartzon-Sky-Bay.jpg"></a>
		li.col-sm-6.col-md-4
			div.img-lighbox
				<a href="../../img/qf/Quartzon-White-Beach.jpg" data-lightbox="lightbox"><img src="../../../img/qf/t/Quartzon-White-Beach.jpg"></a>