extends ../layout

block content
 h1.title Residential
 ul.list-inline.list-unstyled.text-center
  li.col-sm-6.col-md-4
   div.img-lighbox
    <a href="../../img/r/Aqua-Marine.jpg" data-lightbox="lightbox"><img src="../../img/r/t/Aqua-Marine.jpg"></a>
  li.col-sm-6.col-md-4
   div.img-lighbox
    <a href="../../img/r/Aqua-Marine-2.jpg" data-lightbox="lightbox"><img src="../../img/r/t/Aqua-Marine-2.jpg"></a>
  li.col-sm-6.col-md-4
   div.img-lighbox
    <a href="../../img/r/bardon-pool.jpg" data-lightbox="lightbox"><img src="../../img/r/t/bardon-pool.jpg"></a>
  li.col-sm-6.col-md-4
   div.img-lighbox
    <a href="../../img/r/Blakeway-007.jpg" data-lightbox="lightbox"><img src="../../img/r/t/Blakeway-007.jpg"></a>
  li.col-sm-6.col-md-4
   div.img-lighbox
    <a href="../../img/r/bridgeman-downs-20_aqua80_clear.jpg" data-lightbox="lightbox"><img src="../../img/r/t/bridgeman-downs-20_aqua80_clear.jpg"></a>
  li.col-sm-6.col-md-4
   div.img-lighbox
    <a href="../../img/r/buderim-100_clear-292.jpg" data-lightbox="lightbox"><img src="../../img/r/t/buderim-100_clear-292.jpg"></a>
  li.col-sm-6.col-md-4
   div.img-lighbox
    <a href="../../img/r/gumdale1-2.jpg" data-lightbox="lightbox"><img src="../../img/r/t/gumdale1-2.jpg"></a>
  li.col-sm-6.col-md-4
   div.img-lighbox
    <a href="../../img/r/Indoor-Pool-with-Blue-Diamond-and-Blue-Oxide.jpg" data-lightbox="lightbox"><img src="../../img/r/t/Indoor-Pool-with-Blue-Diamond-and-Blue-Oxide.jpg"></a>
  li.col-sm-6.col-md-4
   div.img-lighbox
    <a href="../../img/r/moggil3-2.jpg" data-lightbox="lightbox"><img src="../../img/r/t/moggil3-2.jpg"></a>
  li.col-sm-6.col-md-4
   div.img-lighbox
    <a href="../../img/r/regents-park.jpg" data-lightbox="lightbox"><img src="../../img/r/t/regents-park.jpg"></a>
  li.col-sm-6.col-md-4
   div.img-lighbox
    <a href="../../img/r/Rouko-Blue-2.jpg" data-lightbox="lightbox"><img src="../../img/r/t/Rouko-Blue-2.jpg"></a>
  li.col-sm-6.col-md-4
   div.img-lighbox
    <a href="../../img/r/Rouko-Blue-3.jpg" data-lightbox="lightbox"><img src="../../img/r/t/Rouko-Blue-3.jpg"></a>
  li.col-sm-6.col-md-4
   div.img-lighbox
    <a href="../../img/r/Rouko-Blue.jpg" data-lightbox="lightbox"><img src="../../img/r/t/Rouko-Blue.jpg"></a>
  li.col-sm-6.col-md-4
   div.img-lighbox
    <a href="../../img/r/Rouko-Ice-White-3.jpg" data-lightbox="lightbox"><img src="../../img/r/t/Rouko-Ice-White-3.jpg"></a>
  li.col-sm-6.col-md-4
   div.img-lighbox
    <a href="../../img/r/rouko-onyx-blue.jpg" data-lightbox="lightbox"><img src="../../img/r/t/rouko-onyx-blue.jpg"></a>
  li.col-sm-6.col-md-4
   div.img-lighbox
    <a href="../../img/r/Rouko-Sandy-Beach---Pond.jpg" data-lightbox="lightbox"><img src="../../img/r/t/Rouko-Sandy-Beach---Pond.jpg"></a>
  li.col-sm-6.col-md-4
   div.img-lighbox
    <a href="../../img/r/Rouko-Whitehaven-(1).jpg" data-lightbox="lightbox"><img src="../../img/r/t/Rouko-Whitehaven-(1).jpg"></a>
  li.col-sm-6.col-md-4
   div.img-lighbox
    <a href="../../img/r/Rouko-whitehaven.jpg" data-lightbox="lightbox"><img src="../../img/r/t/Rouko-whitehaven.jpg"></a>
  li.col-sm-6.col-md-4
   div.img-lighbox
    <a href="../../img/r/salt-pepper-white-2.jpg" data-lightbox="lightbox"><img src="../../img/r/t/salt-pepper-white-2.jpg"></a>
  li.col-sm-6.col-md-4
   div.img-lighbox
    <a href="../../img/r/salt-pepper2.jpg" data-lightbox="lightbox"><img src="../../img/r/t/salt-pepper2.jpg"></a>
  li.col-sm-6.col-md-4
   div.img-lighbox
    <a href="../../img/r/sapphir-blue-brookfield5.jpg" data-lightbox="lightbox"><img src="../../img/r/t/sapphir-blue-brookfield5.jpg"></a>
  li.col-sm-6.col-md-4
   div.img-lighbox
    <a href="../../img/r/sapphire-blue-brookfield3.jpg" data-lightbox="lightbox"><img src="../../img/r/t/sapphire-blue-brookfield3.jpg"></a>
  li.col-sm-6.col-md-4
   div.img-lighbox
    <a href="../../img/r/sky-bay1.jpg" data-lightbox="lightbox"><img src="../../img/r/t/sky-bay1.jpg"></a>
  li.col-sm-6.col-md-4
   div.img-lighbox
    <a href="../../img/r/sovereign-island2.jpg" data-lightbox="lightbox"><img src="../../img/r/t/sovereign-island2.jpg"></a>
  li.col-sm-6.col-md-4
   div.img-lighbox
    <a href="../../img/r/ultra-white-bayside.jpg" data-lightbox="lightbox"><img src="../../img/r/t/ultra-white-bayside.jpg"></a>
  li.col-sm-6.col-md-4
   div.img-lighbox
    <a href="../../img/r/White-and-Black-Pebble-and-White-Cement.jpg" data-lightbox="lightbox"><img src="../../img/r/t/White-and-Black-Pebble-and-White-Cement.jpg"></a>
  li.col-sm-6.col-md-4
   div.img-lighbox
    <a href="../../img/r/white-haven.jpg" data-lightbox="lightbox"><img src="../../img/r/t/white-haven.jpg"></a>