div.text-center
 p Copyright ©  2016 - All rights reserved - <a style="color:#fff !important;" href="http://www.webfactories-australia.biz/" target="_blank">Terms & Conditions</a> - <a style="color:#fff !important;" href="/privacy" >Privacy</a>
 p <a style="color:#fff !important;" href="http://www.webfactories-australia.biz/" target="_blank">Website Design Company</a> - <a style="color:#fff !important;" href="http://www.webfactories-australia.biz/" target="_blank">SEO Company</a>