
img(src=" ../img/image_1.jpg").img-responsive

div.col-xs-6.col-sm-4.col-md-3.com
 a(href="/commercial") COMMERCIAL POOLS

div.col-xs-6.col-sm-4.col-md-3.res
 a(href="/residential") RESIDENTIAL POOLS