div.col-md-4.pl-15
 div.panel-body
  h4.title Maitenance Tips
  p Rouko Swimming Pool Interiors want to ensure you know how to maintain your pool, keeping it clean and fresh for the whole family to enjoy.
  a(href= "/pages/maintenance-tips").text-left.btn.btn-primary Read more

div.col-md-4
 div.panel-body
  h4.title Freshen Up Your Pool
  p Rouko give owners a selection of Pebble, Glass Bead and Quartzon finishes in a range of attractive colours and styles. The pool interiors are modern and easy to care for.
  a(href= "/pages/freshen-up-your-pool").text-left.btn.btn-primary Read more

div.col-md-4.pr-15
 div.panel-body
  h4.title Contact
  h1 CALL US TODAY!
  p Mob: 0421 138 529
  p Email: roukopools@gmail.com
  a(href= "/pages/online-enquiries").text-left.btn.btn-primary Send enquiry