div.col-md-4.pl-15
 div.panel-body
  h4.title Maintenance Tips
  p Rouko Swimming Pool Interiors want to ensure you know how to maintain your pool, keeping it clean and fresh for the whole family to enjoy.
  a(href= "/maintenance-tips").text-left.btn.btn-primary Read more

div.col-md-4
 div.panel-body
  h4.title Freshen Up Your Pool
  p Rouko give owners a selection of Pebble, Glass Bead and Quartzon finishes in a range of attractive colours and styles. The pool interiors are modern and easy to care for.
  a(href= "/freshen-up-your-pool").text-left.btn.btn-primary Read more

div.col-md-4.pr-15
 div.panel-body
  h4.title Contact
  p.call.title CALL US TODAY!
  p Mob: <a href="tel:0421138529">0421 138 529</a>
  p Email: <a href="mailto:roukopools@gmail.com">roukopools@gmail.com</a>
  a(href= "/online-enquiries").text-left.btn.btn-primary Send enquiry