div.header.row
 // Logo section
 div.col-md-3
  img(src="../img/logo0-image69905050296.png").img-responsive.logo

 // Right Text section
 div.col-md-9.text-right
  div.text-right
   ul.list-unstyled.list-inline.social
    li.facebook: a(href="#")<i class="fa fa-facebook fa-2x"></i>
    li.twitter: a(href="#")<i class="fa fa-twitter fa-2x"></i>


  h3.white call Johnny <strong>0421387528 / </strong> Robert <strong> 0421387529</strong>



nav.navbar.navbar-default
 div.container-fluid
  div.navbar-header
   button(type="button", data-toggle="collapse", data-target="#menu").navbar-toggle.collapsed
    span.sr-only Toggle navigation
    span.icon-bar
    span.icon-bar
    span.icon-bar
 div.collapse.navbar-collapse#menu
  ul.nav.navbar-nav
   li.active
    a(href="/") Home
   li
    a(href="/pages/about") About Us

   // Gallery Dropdown
   li.dropdown
    a(href="#", data-toggle="dropdown").dropdown-toggle Gallery
     span.caret
     ul.dropdown-menu
      li
       a(href="/pages/residential") Residential
       a(href="/pages/commercial") Commercial

   // Renovation Dropdown
   li.dropdown
    a(href="#", data-toggle="dropdown").dropdown-toggle Renovation
     span.caret
     ul.dropdown-menu
      li
       a(href="/pages/procedure") The Procedure
       a(href="#") Maintenance Tips

   // Interior Applications Dropdown
   li.dropdown
    a(href="#", data-toggle="dropdown").dropdown-toggle Interior Applications
     span.caret
     ul.dropdown-menu
      li
       a(href="#") Pebble Finishes
       a(href="#") Quartzon Finishes
       a(href="#") Rouko Glass Bead Finishes

   li
    a(href="/") Contact Us